@Html.AntiForgeryToken()
<div class="jumbotron" style="box-shadow:-1px 3px 5px #1046a7;background-image: url('http://www.toxbank.net/sites/default/files/styles/full_post/public/Text-search_2.jpg?itok=dk78UhdN')">
    <div class="panel">
        <div class="panel-body">
            @Html.Partial("_Topics")
        </div>
    </div>
</div>

@section Scripts{

    @*<script src="~/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>*@
    <script src="~/Scripts/Custom/ViewModels/topic-viewmodel.js"></script>
    <script src="~/Scripts/Custom/ViewModels/topic-dao-viewmodel.js"></script>

    <script>
        $(document).ready(function () {
        });
    </script>
}

