@Html.AntiForgeryToken()
<div class="jumbotron" style="box-shadow:-1px 3px 5px #1046a7;background-image:url('http://www.toxbank.net/sites/default/files/styles/full_post/public/Text-search_2.jpg?itok=dk78UhdN')">
    <div class="row">
        <div class="col-lg-offset-4 col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        User Login
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div>
                            <input data-bind="value: Username" placeholder="Username" type="text" class="form-control" />
                        </div>
                        <div>
                            <input data-bind="value: Password" placeholder="Password" type="password" class="form-control" />
                        </div>
                    </div>
                    <div class="pull-right">
                        <input data-bind="click: Login" type="button" value="Sign In" class="btn btn-info" />
                    </div>
                    <div class="pull-left h6">
                        <a href="@Url.Action("register","searchcollection")">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/knockout-3.2.0.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/Custom/ViewModels/login-viewmodel.js"></script>
}