<div class="jumbotron">
    <div class="row">
        <div class="col-lg-offset-4 col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        User Login
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div>
                            <input placeholder="Username" type="text" class="form-control" />
                        </div>
                        <div>
                            <input placeholder="Password" type="password" class="form-control" />
                        </div>
                    </div>
                    <div class="pull-right">
                        <input type="button" value="Sign In" class="btn btn-info" />
                    </div>
                    <div class="pull-left h6">
                        <a href="@Url.Action("register","searchcollection")">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>