<div id="example">
    <div class="demo-section">
        <div class="box-col" style="width: 500px;">

            <br />
            <h4>Collection report for each user</h4>

            <div data-role="chart"
                 data-tooltip="{ visible: true , template: '${category} - ${value} records' }"
                 data-legend="{ position: 'bottom' }"
                 data-series-colors="[ 'red' , 'blue' , 'orange' , 'green' ]"
                 data-series-defaults="{ type: 'donut', startAngle: 150 }"
                 data-series="[{
                                field: 'value',
                                categoryField: 'name',
                                visibleInLegendField: 'visibleInLegend',
                                padding: 10
                              }]"
                 data-bind="visible: isVisible,
                            source: Donut">
            </div>
        </div>
    </div>
</div>

@section Scripts{

<script>
    function createChart() {
        var viewModel = kendo.observable({
            isVisible: true,
            Donut: new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/searchcollection/donut",
                        dataType: "json"
                    }
                }
            })
        });
        kendo.bind($("#example"), viewModel);
    }

    $(document).ready(createChart).bind("kendo:skinChange", createChart);

</script>

}