@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="box-shadow:-1px 3px 5px #1046a7;background-image: url('http://www.toxbank.net/sites/default/files/styles/full_post/public/Text-search_2.jpg?itok=dk78UhdN')">

    <div class="row">
        <div class="panel">
            <div class="panel-body">                
                @Html.Partial("_CollectionReport")
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="http://simplewebsitesforbusiness.com/wp-content/uploads/2012/09/search_engine_marketing-logos.png" width="309" height="241" alt="Online Search">
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="http://thumbs.dreamstime.com/z/bee-searching-magnifying-glass-25853713.jpg" width="309" height="241" alt="Bee Search">
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="http://blog.seowhat.com/wp-content/uploads/2012/03/Google-semantic-search.jpg" width="309" height="241" alt="World Search">
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function createChart() {
            var viewModel = kendo.observable({
                isVisible: true,
                Donut: new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "/searchcollection/donut",
                            dataType: "json"
                        }
                    }
                })
            });
            kendo.bind($("#report"), viewModel);
        }

        $(document).ready(createChart).bind("kendo:skinChange", createChart);
    </script>
}