@{
    var user = ((SearchCollection.Models.SRUser)Session["SRUser"]);
}

<table class="h6 table-hover table-striped table-condensed table-responsive" data-bind="
    kendoGrid:
        {
            data: Topics,
            groupable: false,
            scrollable: false,
            sortable: true,
            pageable: { pageSize: 10 },
            rowTemplate: 'rowTmpl',
            useKOTemplates: true ,
            columns:
                [{ field: 'Title', headerTemplate: 'Title' },
                { field: 'Description', headerTemplate: 'Description' },
                { field: 'DateCreatedFormatted', headerTemplate: 'Created On' },
                { field: 'User', headerTemplate: 'User' },
                { headerTemplate: '' }]
        }">
</table>

<script id="rowTmpl" type="text/html">
    <tr>
        <td><a data-bind="attr: { href: Url}"><span data-bind="text: Title"></span></a></td>
        <td><span data-bind="text: Description"></span></td>
        <td><span data-bind="text: DateCreatedFormatted"></span></td>
        @if (user != null)
        {
            if (user.Role == SearchCollection.Models.UserRole.ADMIN)
            {
                <td><span data-bind="text: User"></span></td>
                <td style="text-align:center;"><input type="button" data-bind="click: $parent.Delete" value="-" class="btn btn-danger btn-sm"></td>
            }
            else
            {
                <td></td>
            }
        }
        else
        {
            <td></td>
        }
    </tr>
</script>

<table class="table table-hover">
    <tbody data-bind="foreach: InsertList">
        <tr>
            <td><input placeholder="Title" data-bind="value: Title" class="form-control"></td>
            <td><input placeholder="Description" data-bind="value: Description" class="form-control"></td>
            <td><input placeholder="Link" data-bind="value: Link" class="form-control"></td>
            <td><input type="button" data-bind="click: $parent.RemoveRow" value="-" class="btn btn-danger btn-sm"></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                @if (user != null)
                {
                    <input type="button" value="+" class="btn btn-warning btn-sm" data-bind="click: AddRow" />
                    <input type="button" value="Save" class="btn btn-success pull-right btn-sm" data-bind="click: Save" />
                }
                else
                {
                    <label class="label-danger h6" style="padding:3px;"><small style="color:white;">Please sign up/ sign in to add new search records.</small></label>
                }
            </td>
        </tr>
    </tfoot>
</table>

<span data-bind="kendoNotification: { info: info, warning: warning, success: success, error: error }"></span>
