<table class="table table-bordered h6">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Created On</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: Users">
        <tr>
            <td><span data-bind="text: FirstName"></span></td>
            <td><span data-bind="text: LastName"></span></td>
            <td><span data-bind="text: Username"></span></td>
            <td><span data-bind="text: Password"></span></td>
            <td><span data-bind="text: DateCreatedFormatted"></span></td>
            <td><span data-bind="text: StatusStr"></span></td>

            <!-- ko if: StatusStr() === "ACTIVE" -->
            <td style="text-align:center;"><input type="button" data-bind="click: $parent.Deactivate" class="btn btn-danger btn-sm" value="Deactivate" style="width:100px;"></td>
            <!-- /ko -->
            <!-- ko if: StatusStr() === "INACTIVE" -->
            <td style="text-align:center;"><input type="button" data-bind="click: $parent.Activate" class="btn btn-success btn-sm" value="Activate" style="width:100px;"></td>
            <!-- /ko -->

        </tr>
    </tbody>
</table>
